.ncontain {
    background-color: #ffcccc;
    width: 100%;
    font-size: 20px;
}

.navbar {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    margin: 0;
}

.navbar-menu {
    padding: 5px 45px 5px 45px;
    text-decoration: none;
}

.jumbotron {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
}

.textw {
    background: #ccccff;
    height: 400px;
    text-align: center;
}

.copyright {
    padding-top: 10px;
}

.email {
    padding-top: 10px;
}

@media screen and (max-width: 991px) {
    h2 {
        margin-top: 0;
    }
    .textw {
        border-bottom: 2px solid rgba(114, 110, 110, 0.288);
    }
}

@media screen and (min-width: 992px) {
    .textw {
        border-right: 2px solid rgba(114, 110, 110, 0.288);
    }
}

@media screen and (max-width: 459px) {
    .navbar-menu {
        padding: 5px 20px 5px 20px;
    }
}